*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
input{
    color: black;
    background-color: rgba(188, 154, 132, 0.786);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
::placeholder{
    color: rgb(130, 87, 87);
}
.field{
    width: 50%;
    height: auto;
    border-radius: 5px;
    
}
label{
    display: block;
    text-align: center;
}
legend{
    color: rgb(174, 161, 161);
}
textarea{
    background-color:  rgba(188, 154, 132, 0.786);
    border-radius: 5px;
    color: rgb(130, 87, 87);
    margin: 10px;
    padding: 10px;
    outline: none;
}
.submitdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px 10px 10px;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 30px 0px 30px 0px;
    color: black;
    background-color: antiquewhite;
    box-shadow: inset snow 0px 0px 5px 5px;
    transition: all 1.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button:hover{
    cursor: pointer;
    scale: 1.1;
     box-shadow: inset snow 5px 5px;
     border-radius: 0px 30px 0px 30px;
    transition: all 1.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
form{
    scale: 1;
     display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid snow;
    ;
}
input:focus{
    scale: 1.1;
outline: none;
transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.genderfieldset{
display: flex;
flex-direction: row;
gap: 10px;
padding: 10px;
border-radius: 5px;
}
